:root {
    --main-background: #eee5e9;
    --main-text: #383d3b;
    --main-highlight: #92dce5;
    --main-footer-background: #383d3b;
    --main-footer-text: #eee5e9;
}

* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    background-color: var(--main-background);
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}

footer {
    height: 75px;
    background-color: var(--main-footer-background);
}

.content-section {
    margin: 1em;
}

.container {
    /* max-width: 900px; */
    margin: 0 auto;
    padding: 0 1.5em;
}

.name-title {
    font-size: 4em;
    text-align: center;
    margin: 10px 30px;
    font-weight: lighter;
    letter-spacing: 3px;
}

.aspiration-title {
    margin: 5px;
    font-size: 2em;
    text-align: center;
    font-weight: lighter;
}

.intro-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background-color: var(--main-background);
    margin: 0;
    padding: 0;
}

.icon-image {
    width: 25px;
    margin: 1em;
}

.icon-section-intro {
    text-align: center;
}

.main-nav {
    font-size: 1.1em;
    border-bottom: 1px solid black;
    text-align: center;
    font-weight: normal;
    position: fixed;
    width: 100%;
    background-color: var(--main-background);
}

.main-nav a {
    display: inline-block;
    text-decoration: none;
    color: var(--main-text);
    background-color: var(--main-background);
    padding: 1em;
}

.main-nav a:hover {
    background-color: var(--main-highlight);
}

.section-header {
    font-weight: bold;
    /*font-size: 2em;*/
    text-align: center;
    margin: 1em;
}

.section-header-about {
    background-color: var(--main-highlight);
    margin: 0;
}

.about-image {
    border-radius: 50%;
    width: 200px;
    margin: 15px 15px 15px 15px;
    float: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
}

.about-me-section p {
    margin: 15px;
    background-color: var(--main-highlight);
    font-size: 20px;
}

.about-me-section {
    vertical-align: middle;
    max-width: 80%;
    background: var(--main-highlight);
    min-height: 300px;
    padding: 1em;
    margin-bottom: 7.5em;
    font-size: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;

}

.resume-section-header {
    font-weight: bold;
    margin: 30px 20px;
    font-size: 1em;
    text-decoration: underline;
    letter-spacing: 3px;
}

.resume-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    float: left;
    margin: 0 15px;
}

.resume-section {
    max-width: 1200px;
    margin: 0 10px 80px 10px;
}

.resume-section li {
    margin-left: 20px;
}

.resume-section-whole {
    max-width: 1200px;
}

.resume-section-block {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    width: 100%;
}

.resume-row-title {
    font-weight: bold;
    flex-grow: 1;
}

.resume-dates {
    float: right;
    font-style: italic;
}

.resume-row-text {
    width: 100%;
    margin-top: 8px;
}

.resume-section-whole ul {
    margin: 0;
    padding-left: 0;
    list-style-type: circle;
}

.resume-section-whole {
    font-size: 20px;
}

.resume-section-whole p{
    margin: 0;
}

.resume-skill {
    display: inline-block;
    border:lightblue solid 1px;
    padding: 10px 20px;
    font-size: 15px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 8px;
}

.skill-section {
    margin: 20px 0;
}

.resume-btn {
    margin: 80px 0;
}

.resume-btn-link {
    text-decoration: none;
    color: var(--main-text);
    text-align: center;
    margin: 0 auto;
    display: block;
}

.resume-btn-text {
    border: lightblue solid 2px;
    border-radius: 8px;
    padding: 10px;
    font-weight: bold;
}

.resume-btn-text:hover {
    background-color: var(--main-highlight);
}

.project-section-whole {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.project-image {
    float: left;
    width: 100%;
    max-height: 275px;
    object-fit: cover;
}

.project-name {
    font-weight: bold;
    padding-top: 20px
}

.project-text {
    display: inline-block;
    margin: 10px 0;
}

.project-link {
    text-decoration: none;
}

.project-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 400px;
    color:var(--main-text);
}

.project-section-elem {
    padding: 20px;
    vertical-align: middle;
    text-align: center;
    color:var(--main-text);
}

.footer-links {
    float: right;
    margin: 25px;
    color: var(--main-footer-text);
    background-color: var(--main-footer-background);
}

.footer-links span {
    color: var(--main-footer-text);
    background-color: var(--main-background);
}

.footer-link {
    text-decoration: none;
    color: var(--main-footer-text);
    background-color: var(--main-footer-background);
    font-size: 14px;
}

.footer-tag {
    margin: 0 25px;
    font-size: 14px;
    color: var(--main-footer-text);
    background-color: var(--main-footer-background);
}

.footer-element {
    color: var(--main-footer-text);
    background-color: var(--main-footer-background);
}

.footer {
    background-color: var(--main-footer-background);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 800px) {
    .resume-image {
        display: none;
    }

    .resume-section-header {
        margin: 30px 0;
    }

    .resume-dates {
        display: none;
    }
}

@media (max-width: 600px) {
    .about-image {
        display: block;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        max-width: 200px;
    }   

    .name-title {
        font-size: 3em;
    }
    
    .aspiration-title {
        font-size: 1.5em;
    }

    .main-nav {
        font-size: 1em;
        border-bottom: 1px solid black;
        text-align: center;
        font-weight: normal;
    }

    .project-section {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 400px) {
    .resume-section-whole {
        font-size: 16px;
    }

    .resume-skill {
        font-size: 12px;
    }

    .about-me-section p {
        font-size: 16px;
    }

    .section-header {
        font-size: 16px;
    }

    .name-title {
        font-size: 2em;
    }
    
    .aspiration-title {
        font-size: 1.2em;
    }

    .icon-image {
        width: 20px;
    }

    .main-nav {
        font-size: 12px;
    }
}